@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-white text-gray-900 dark:bg-gray-900 dark:text-white font-sans antialiased;
  }
  
  a {
    @apply text-gray-900;
  }
  
  a:hover {
    @apply text-gray-700;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
