@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-white text-gray-900 dark:bg-black dark:text-gray-300 transition-colors duration-200 antialiased;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  }

  a {
    @apply text-lethain-blue no-underline hover:text-lethain-blue-light transition-colors duration-200;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}