@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-white text-gray-900 dark:bg-gray-900 dark:text-white font-sans antialiased;
  }

  a {
    @apply text-lethain-blue transition-colors duration-200;
  }

  a:hover {
    @apply text-lethain-blue-light;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}